# App ENV
APP_NAME=change-me
APP_ENV=change-me
APP_KEY=change-me
APP_DEBUG=change-me
APP_URL=change-me

# Logs ENV
LOG_CHANNEL=change-me
LOG_DEPRECATIONS_CHANNEL=change-me
LOG_LEVEL=change-me
LOG_ROUTE=change-me

# Database ENV
DB_CONNECTION=change-me
DB_HOST=change-me
DB_PORT=change-me
DB_DATABASE=change-me
DB_USERNAME=change-me
DB_PASSWORD=change-me

# Session ENV
SESSION_DRIVER=change-me
SESSION_DOMAIN=change-me
SESSION_LIFETIME=change-me
SESSION_SECURE_COOKIE=change-me

CACHE_DRIVER=change-me
QUEUE_CONNECTION=change-me

# Redis ENV
REDIS_HOST=change-me
REDIS_PASSWORD=change-me
REDIS_PORT=change-me

# Mail ENV
MAIL_MAILER=change-me
MAIL_HOST=change-me
MAIL_PORT=change-me
MAIL_USERNAME=change-me
MAIL_PASSWORD=change-me
MAIL_ENCRYPTION=change-me
MAIL_FROM_ADDRESS=change-me
MAIL_FROM_NAME="${APP_NAME}"

# AWS ENV
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_DEFAULT_REGION=change-me
AWS_BUCKET=change-me
AWS_USE_PATH_STYLE_ENDPOINT=change-me

# spatie/laravel-backup ENV
BACKUP_ARCHIVE_PASSWORD=change-me
DISCORD_WEBHOOK_URL=change-me
