# App ENV
APP_NAME="Load Order Library"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

# Logs ENV
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_ROUTE=change-me

# Database ENV
DB_CONNECTION=mysql
DB_HOST=change-me
DB_PORT=change-me
DB_DATABASE=change-me
DB_USERNAME=change-me
DB_PASSWORD=change-me

# Session ENV
SESSION_DRIVER=file
SESSION_DOMAIN=localhost
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

# Redis ENV
REDIS_HOST=change-me
REDIS_PASSWORD=change-me
REDIS_PORT=change-me

# Mail ENV
MAIL_MAILER=change-me
MAIL_HOST=change-me
MAIL_PORT=change-me
MAIL_USERNAME=change-me
MAIL_PASSWORD=change-me
MAIL_ENCRYPTION=change-me
MAIL_FROM_ADDRESS=change-me
MAIL_FROM_NAME="${APP_NAME}"

# AWS ENV
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_DEFAULT_REGION=change-me
AWS_BUCKET=change-me
AWS_USE_PATH_STYLE_ENDPOINT=change-me

# spatie/laravel-backup ENV
BACKUP_ARCHIVE_PASSWORD=change-me
DISCORD_WEBHOOK_URL=change-me
