// Body
$body-bg: #202020;
$dark: #343a40;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #be332e;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #4caf50;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #FFFFFF;

$primary: $green;
$secondary: $blue;
$tertiary: $purple;
$link: $white;

$modal-content-color: $white;
$modal-content-bg: $dark;
$modal-header-border-color: $body-bg;
$modal-footer-border-color: $modal-header-border-color;
$modal-content-border-color: $primary;

