// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-dark .navbar-nav .nav-link {
	color: $link;
}

p {
	text-indent: 20px;
}

a {
	text-decoration: none;
}

.accordion-button::after {
	background-image: none !important;
}

.bg-tertiary {
	background: $tertiary;
}

.text-tertiary {
	color: $tertiary;
}

.compare-choose {
	.list1,
	.compare,
	.list2,
	.filter-form {
		width: 100%;
	}
}

.compare-results {
	.list1 {
		max-width: 45%;
		min-width: 45%;
	}
	.vs {
		min-width: 5%;
		text-align: center;
	}

	.list2 {
		min-width: 45%;
		text-align: right;
	}
}

.files-heading {
	.missing {
		min-width: 45%;
		max-width: 48%;
	}
	.added {
		min-width: 49%;
		max-width: 49%;
		text-align: left;
	}
}

.files {
	.missing {
		max-width: 48%;
	}

	.added {
		min-width: 48%;
	}
}

.helper {
	min-height: 50px;
}

.compare-checkbox {
	min-height: 25px;
	min-width: 25px;
	margin-right: 15px;
	background-color: $dark;
}

/* When the checkbox is checked, add a blue background */
.compare-radio:checked ~ .compare-checkbox {
	background-color: $secondary;
}

.dropdown-divider {
	border-top: 1px solid darken($dark, 20);
}

.counter {
	margin: 0 20px 0 0;
	padding: 5px 10px;
	background: $secondary;
	//min-width: 12%;
	flex: 0 0 3.5em;
	text-align: center;
	display: flex;
	align-self: stretch;
	align-items: center;
	justify-content: center;
	user-select: none;
}

@media(min-width: 576px) {
	.counter {
		min-width: 5%;
	}
}

.compare-radio {
	display: none;
}

.list-group-item-dark {
	border-radius: 0 !important;
	border: none !important;
	background: lighten($dark, 5) !important;
	color: $white;
}

.list-group-item-dark:nth-child(odd) {
	background: lighten($dark, 10) !important;
}

.list-group-item-dark,
.list-group-item-dark-odd {
	&:hover {
		background: lighten($dark, 15) !important;
	}
}

.list-disabled {
	background: darken($red, 10) !important;
	text-decoration: line-through;
	&:nth-child(odd) {
		background: lighten($red, 10) !important;
	}
}

.list-disabled-hidden {
	display: none !important;
}

.list-separator {
	background: $primary !important;
	justify-content: center;
	width: 100%;
	&:nth-child(odd) {
		background: $primary !important;
	}
	&:hover {
		background: darken($primary, 10) !important;
	}
	.counter {
		display: none;
	}
}

.game-link{
  color: $secondary !important;
}
.game-link:hover, .game-link:active {
  color: darken($secondary, 10) !important;
}

.btn-tertiary {
	background: $tertiary;
}
